# Ignore everything
*
!*/

# Don't ignore these files
!.gitignore
!.htaccess
!build/**
!build/.htaccess

# Still ignore these even if they're in allowed directories
**/node_modules/
**/.env*
**/.DS_Store